.card-school {
  width: 300px;
  background: var(--primary-color);
  transition: 0.3s linear;
  cursor: pointer;
  -webkit-box-shadow: 2px 12px 16px -10px rgba(0,0,0,0.23);
  -moz-box-shadow: 2px 12px 16px -10px rgba(0,0,0,0.23);
  box-shadow: 2px 12px 16px -10px rgba(0,0,0,0.23); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-school .card-header {
  height: 40%;
  width: 100%;
}

.card-school .card-header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-school .card-body {
  height: 60%;
  width: 100%;
  position: relative;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  justify-content: center; 
  padding-bottom: 20px;
}

.card-body .inital {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-image: linear-gradient(90deg,#9b75e6, #654186);
  position: absolute;
  right: 20px;
  top: -26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body .inital {
  font-weight: 900;
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
}

.card-body .description {
  text-align: center;
}

.card-body .description h3 {
  padding: 15px;
}

.card-body .description h3, h4, h5 {
  color: var(--text-color);
}

.card-body .description h4, h5 {
  font-weight: 500;
  line-height: 1.5;
  font-size: 15px;
}


.card-body .btn-animation {
  width: 50%;
  margin: 25px auto 0 auto;
}