footer {
  width: 100%;
  background-image: linear-gradient(90deg,#9b75e6, #654186);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}