form {
  width: 100%;
  display: flex;
  justify-content: center;
}

form .btn {
  margin-left: 10px;
  padding: 10px 30px;
}

form .field input {
  border: 1px solid var(--text-color);
  border-radius: 2px;
  width: 100%;
  resize: none;
  padding: 25px 20px 25px 20px;
  outline: none;
  max-width: 500px;
  width: 470px;
}

.field  {
  position: relative;
  display: flex;
}

.call {
  margin-top: 80px;
 }
 
 .call h1 {
   color: var(--text-color);
   font-weight: 900;
   font-size: 50px;
   text-align: center;
 }

 .sub-title {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0 30px;
 }

 .sub-title h4 {
  font-size: 35px;
  font-weight: 800;
  padding: 50px 0 10px 0;
  color: var(--text-color);
 }

 .sub-title p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  max-width: 700px;
 }

 .founder-content {
   padding: 70px 0;
 }

 .result-search {
  position: absolute;
  padding: 10px 20px;
  width: 100%;
  background: #ffffff;
  top: 70px;
  left: 0;
  z-index: 10;
  border-radius: 2px;
  -webkit-box-shadow: 2px 18px 24px -21px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 18px 24px -21px rgba(0,0,0,0.75);
  box-shadow: 2px 18px 24px -21px rgba(0,0,0,0.75);
  overflow-y: auto;
  max-height: 200px;
}

.result-search ul li {
  line-height: 2;
  cursor: pointer;
  font-weight: 300;
  color: var(--text-color);
  font-size: 14px;
}

.result-search ul li strong {
  font-weight: 700;
  font-size: 15px;
}