form {
  width: 100%;
  display: flex;
  justify-content: center;
}

form .btn {
  margin-left: 10px;
  padding: 10px 30px;
}

form .field input {
  border: 1px solid var(--text-color);
  border-radius: 4px;
  width: 100%;
  resize: none;
  padding: 25px 20px 25px 20px;
  border-radius: 4px;
  outline: none;
  max-width: 500px;
  width: 470px;
}

.field  {
  display: flex;
}

.call {
  margin-top: 80px;
 }
 
 .call h1 {
   color: var(--text-color);
   font-weight: 900;
   font-size: 50px;
   text-align: center;
 }

 .sub-title {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   padding: 0 30px;
 }

 .sub-title h4 {
  font-size: 35px;
  font-weight: 800;
  padding: 50px 0 10px 0;
  color: var(--text-color);
 }

 .sub-title p {
  font-size: 16px;
  font-weight: 300;
  color: var(--text-color);
  max-width: 700px;
 }