:root {
    --primary-color: #9973e2;
    --detail-color: #71c5d8;
    --text-color: #444444;
    --text-light: #afadad;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.btn, .btn-outline, .btn-disable {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(90deg,#9b75e6, #654186);
    align-items: center;
    color: #ffffff !important;
    border: none;
    border-radius: 2px;
    padding: 10px 13px;
    font-weight: 600 !important;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 12px !important;
    position: relative;
}

.btn-outline {
    background-image: none;
    border: 2px solid var(--text-light);
    color: var(--text-light) !important;
    background-color: transparent;
}

.btn-disabled {
    background: var(--text-color);
    cursor: unset;
}

.btn-animation:hover {
    animation: animeButton .2s linear;
}

@keyframes animeButton {
    0% {transform: translateX(-1.5px);}
    25% {transform: translateX(1.5px);}

    50% {transform: translateX(-1.5px);}
    70% {transform: translateX(1.5px);}

    80% {transform: translateX(-1.5px);}
    100% {transform: translateX(1.5px);}
}

.padding-default {
  padding: 30px 20px 20px 20px;
}